@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@100;200;300;400;500&display=swap");

$font_stack: "Poppins", sans-serif;
$font_secondary: "Inter", sans-serif;
$font-d-1: 24px;
$font-m-1: 20px;
$font-d-2: 16px;
$font-m-2: 14px;

$max_width: 1200px;

$input_height: 36px;
$input_radius: 4px;

$primaryColor: #171717;
$secondaryColor: #1f1f1f;
$blackColor: #0f0f0f;
$whiteColor: #f0f0f0;
$grayColor: #adadad;
$goldColor: #c5a880;
$darkGoldColor: #8e744e;

$wrapper_padding: 28px;
$padding_vertical: 80px;
