@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@100;200;300;400;500&display=swap");

$font_stack: "Poppins", sans-serif;
$font_secondary: "Inter", sans-serif;
// $font-d-1: 24px;
// $font-m-1: 20px;
// $font-d-2: 16px;
// $font-m-2: 14px;

// $max_width: 1200px;

$input_height: 36px;
$input_radius: 4px;

$blackColor: #24292f;
$whiteColor: #f0f0f0;
$grayColor: #bebebe;
$darkGrayColor: #6a6c70;
