@import "../styles/globals.scss";

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 36px;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;

  &__icon {
    display: block;
    margin-right: 8px;
    color: $darkGrayColor;
  }

  li {
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    color: $darkGrayColor;
  }

  &__active {
    background: #f9f9f9;
  }

  &__iconLink {
    margin-left: auto;
    color: $darkGrayColor;
  }
}
